.red-hat-display-nicefont {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: lightgrey;
}

body {
  background-color: #1f2a4d;
}
